* {
    line-height: 1;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
}
.first-logo span:first-child {
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;  
}
.first-logo span:last-child {
    text-transform: uppercase;
    color: #2E2F42;
}
header a {
    text-decoration: none;
    color: black;
}
.hero {
    background: #2E2F42;
}
h1 {
    color:white;
    text-align: center;
    font-family: 'roboto', sans-serif;
    Font-size: 56px;
    Font-style: normal;
}
.button {
    padding: 16px 32px 16px 32px;
    background-color: #4D5AE5;
    color:white;
    cursor: pointer;
}
.button:hover {
    color: orange;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h2 {
    font-size: 16px;
}
.footer-section {
    background-color: #2E2F42;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
footer a {
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
}
.second-logo span:first-child {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #4D5AE5;  
}
.second-logo span:last-child {
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}
.our-team {
    background-color:#F4F4FD;
}